<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Oscar.UI.WPF.Properties.Settings.OscarConnectionString"
            connectionString="Data Source=DESKTOP-4UT8FK5\SQLEXPRESS;Initial Catalog=Oscar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>